<!-- CREATE TASK MODAL -->
{{#if isShowingModal}}
<div class="layout-row layout-align-center">
  {{#modal-dialog onClose="toggleModal"
  targetAttachment="center"
  translucentOverlay=true}}

  {{#paper-form as |form|}}
  <div class="layout-column">

    {{form.input label="Description" value=taskDescription onChange=(action (mut taskDescription)) required=true}}

    {{#form.select
      placeholder="Assign to a user"
      selected=selectedUser
      options=users
      onChange=(action (mut selectedUser))
      as |user|}}
      {{user.name}}
      {{/form.select}}

      {{#form.select
        placeholder="Type of Tasks"
        selected=selectedTaskType
        options=tasktypes
        onChange=(action (mut selectedTaskType))
        as |tasktype|}}
        {{tasktype.name}}
        {{/form.select}}

      </div>

      {{#paper-button onClick=(action "addTask" taskDescription selectedUser.id selectedTaskType.id)}}Create Task{{/paper-button}}
      {{#paper-button onClick=(action "toggleModal")}}Cancel{{/paper-button}}


      {{/paper-form}}
      {{/modal-dialog}}
    </div>
    {{/if}}
    <!-- #################################################################################################################################################################################################### -->


<!-- NAVBAR AND SETTINGS BUTTON -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{#link-to 'settings'}}{{#paper-button  class="settings-button"}}Settings{{paper-icon "keyboard_arrow_right"}}
        {{#paper-tooltip zIndex}}
        Go to settings page
        {{/paper-tooltip}}
        {{/paper-button}}{{/link-to}}
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>


<div class="layout-row layout-align-center-center">
<!-- TODO TASKS -->
  <div class="layout-column">
    <div class="">
    {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Todo [{{todoTasks.length}}]
        {{#paper-button class="add-button" onClick=(action 'toggleModal') iconButton=true raised=true}}
        {{paper-icon "add"}}
        {{#paper-tooltip zIndex}}
        Add task
        {{/paper-tooltip}}
        {{/paper-button}}
        {{/text.headline}}

      {{/title.text}}
    {{/card.title}}
    {{paper-divider}}
      {{#paper-list}}
  <div class="scrollbar1">

  {{#if isShowingTodo}}
                     {{#modal-dialog onClose="toggleTodo"
                                              targetAttachment="center"
                                              translucentOverlay=true}}
                        <div class="popup">
                           <h3>Description: {{selectedTask.description}}</h3>
                           <p>Type: {{selectedTask.tasktype.name}}</p>
                           <h4>Assigned to: {{selectedTask.user.name}}</h4>

                       </div>
                        {{#paper-button onClick=(action "toggleTodo")}}Cancel{{/paper-button}}
                     {{/modal-dialog}}
                   {{/if}}

    <div class="card-size-home">
        {{#each todoTasks as |task|}}
        {{#draggable-object content=task}}
          {{#paper-item onClick=(action "setSelectedTask" task 'isShowingTodo')}}
          <div class="">
            <h4> <strong>{{task.id}}-{{task.description }}</strong></h4>
            <p>Type: {{task.tasktype.name }}</p>
            <h5>Assigned to: {{task.user.name }}</h5>
            <span class="flex"></span>
          </div>
          {{paper-divider}}
          {{/paper-item}}
          {{/draggable-object}}
        {{/each}}

    </div>
  </div>
  {{/paper-list}}
  {{/paper-card}}
  </div>
  </div>



<!-- PROGRESS TASKS -->
  <div class="layout-column">
{{#draggable-object-target action="updateStatus" status="progress"}}
  <div class="">
    {{#paper-card as |card|}}
    {{#card.title as |title|}}
       {{#title.text as |text|}}
        {{#text.headline}}In progress [{{progressTasks.length}}] {{/text.headline}}
       {{/title.text}}
    {{/card.title}}
    {{paper-divider}}
    {{#paper-list}}
    <div class="scrollbar1">

    {{#if isShowingProgress}}
                       {{#modal-dialog onClose="toggleProgress"
                                                targetAttachment="center"
                                                translucentOverlay=true}}
                          <div class="popup">
                             <h3>Description: {{selectedTask.description}}</h3>
                             <p>Type: {{selectedTask.tasktype.name}}</p>
                             <h4>Assigned to: {{selectedTask.user.name}}</h4>

                         </div>
                          {{#paper-button onClick=(action "toggleProgress")}}Cancel{{/paper-button}}
                       {{/modal-dialog}}
                     {{/if}}

      <div class="card-size-home">
          {{#each progressTasks as |task|}}
          {{#draggable-object content=task}}

            {{#paper-item onClick=(action 'setSelectedTask' task 'isShowingProgress')}}
            <div class="">
              <h4> <strong>{{task.id}}-{{task.description }}</strong></h4>
              <p>Type: {{task.tasktype.name }}</p>
              <h5>Assigned to: {{task.user.name }}</h5>
              <span class="flex"></span>
            </div>
            {{paper-divider}}
            {{/paper-item}}
            {{/draggable-object}}

          {{/each}}
      </div>
    </div>
    {{/paper-list}}
     {{/paper-card}}
  </div>
  {{/draggable-object-target}}
</div>



<!-- DONE TASKS -->
<div class="layout-column">
  {{#draggable-object-target action="updateStatus" status="done"}}
  <div class="">
    {{#paper-card as |card|}}
    {{#card.title as |title|}}
       {{#title.text as |text|}}
        {{#text.headline}}Done [{{doneTasks.length}}] {{/text.headline}}
       {{/title.text}}
    {{/card.title}}
    {{paper-divider}}
    {{#paper-list}}
    <span class="flex">
    <div class="scrollbar1">

    {{#if isShowingDone}}
                       {{#modal-dialog onClose="toggleDone"
                                                targetAttachment="center"
                                                translucentOverlay=true}}
                          <div class="popup">
                             <h3>Description: {{selectedTask.description}}</h3>
                             <p>Type: {{selectedTask.tasktype.name}}</p>
                             <h4>Assigned to: {{selectedTask.user.name}}</h4>

                         </div>
                          {{#paper-button onClick=(action "toggleDone")}}Cancel{{/paper-button}}
                       {{/modal-dialog}}
                     {{/if}}

      <div class="card-size-home">
          {{#each doneTasks as |task|}}
            {{#paper-item onClick=(action 'setSelectedTask' task 'isShowingDone') }}
            <div class="">
              <h4> <strong>{{task.id}}-{{task.description }}{{#paper-button onClick=(action 'deleteTask' task.id) class="delete-todo"}}{{paper-icon "delete" size=24}}{{/paper-button}}</strong></h4>
              <p>Type: {{task.tasktype.name }}</p>
              <h5>Assigned to: {{task.user.name }}</h5>
              <span class="flex"></span>

            </div>
            {{paper-divider}}
            {{/paper-item}}
          {{/each}}
      </div>
    </div>
    </span>
    {{/paper-list}}
     {{/paper-card}}
  </div>
  {{/draggable-object-target}}
</div>
</div>
