<!-- NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar-right ">
      <h2>SETTINGS</h2>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          {{#link-to 'home'}}{{#paper-button class="settings-button" }}{{paper-icon "keyboard_arrow_left"}}Back
          {{#paper-tooltip zIndex}}
          Go back
          {{/paper-tooltip}}
          {{/paper-button}}{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- USERS AND TASK TYPES -->

<!-- USERS -->
<div class="layout-row  layout-align-center-center layout-xs-column">
  <div class="layout-column">
    {{#paper-card as |card|}}
      <div class="card-title">
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              <p class="title-color">Users <i class="material-icons">person</i></p>
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
      </div>
    {{paper-divider}}
    <div class="card-placeholder-settings-users">
      <div class="card-size-settings">
        {{#paper-list}}
          <div class="scrollbar2">
            {{#each users as |user|}}
              {{#paper-card as |card|}}
                {{#paper-item class="item-background"}}
                  <h3>{{user.id}}-{{user.name}}</h3>
                  <span class="flex"></span>
                  {{#paper-button onClick=(action 'deleteuser' user.id)}}{{paper-icon "delete" size=24}}{{/paper-button}}
                {{/paper-item}}
              {{/paper-card}}
            {{/each}}
          </div>
      <div class="add-user-tasktype">
        {{#paper-input label="Add new user" value=newUser onChange=(action (mut newUser))}}{{/paper-input}}
        {{#paper-button onClick=(action "addUser" newUser)}}<i class="material-icons">person_add</i>{{/paper-button}}
      </div>
        {{/paper-list}}
      </div>
    </div>
  {{/paper-card}}
 </div>
<!-- TASK TYPES -->
 <div class="layout-column">
  {{#paper-card as |card|}}
    <div class="card-title">
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
            <p class=" title-color">Task Types <i class="material-icons">assignment</i> </p>
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
    </div>
      {{paper-divider}}
      <div class="card-placeholder-settings-tasktypes">
      <div class="card-size-settings">
      {{#paper-list}}
      <div class="scrollbar2">
        {{#each tasktypes as |tasktype|}}
          {{#paper-card as |card|}}
            {{#paper-item class="item-background"}}
              <h3>{{tasktype.id}}-{{tasktype.name}}</h3>
              <span class="flex"></span>
              {{#paper-button onClick=(action 'deletetasktype' tasktype.id)}}{{paper-icon "delete" size=24}}{{/paper-button}}
            {{/paper-item}}
          {{/paper-card}}
        {{/each}}
      </div>
      <div class="">
        {{#paper-input label="Add new tasktype" value=newTaskType onChange=(action (mut newTaskType))}}{{/paper-input}}
        {{#paper-button onClick=(action "addTaskType" newTaskType)}}<i class="material-icons">note_add</i>{{/paper-button}}
      </div>
      {{/paper-list}}
        </div>
      </div>
    {{/paper-card}}
  </div>
</div>
