
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right ">
      <h2>SETTINGS</h2>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          {{#link-to 'home'}}{{#paper-button class="settings-button" }}{{paper-icon "keyboard_arrow_left"}}Back
          {{#paper-tooltip zIndex}}
          Go back
          {{/paper-tooltip}}
          {{/paper-button}}{{/link-to}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- USERS AND TASK TYPES -->
<div class="layout-row layout-align-center-center">
  <div class="layout-column">
  <div class="card-placeholder-settings-users">


    {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Users {{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{paper-divider}}
    <div class="card-size-settings">
      {{#paper-list}}
      <div class="scrollbar2">

        {{#each users as |user|}}
        {{#paper-card as |card|}}
        {{#paper-item class="item-background"}}
        <h3>{{user.id}}-{{user.name}}</h3>
        <span class="flex"></span>
        {{#paper-button onClick=(action 'deleteuser' user.id)}}{{paper-icon "delete" size=24}}{{/paper-button}}
        {{/paper-item}}
        {{/paper-card}}
        {{/each}}
        </div>

      <div class="add-user-tasktype">
        {{#paper-input label="Add new user" value=userName onChange=(action (mut userName))}}{{/paper-input}}
        {{#paper-button onClick=(action "addUser" userName)}}{{paper-icon "add" size=24}}{{/paper-button}}
      </div>

      {{/paper-list}}
        </div>
       {{/paper-card}}

  </div>
  </div>

  <div class="layout-column">
  <div class="card-placeholder-settings-tasktypes">
        {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Task Types {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{paper-divider}}
        <div class="card-size-settings">
      {{#paper-list}}
      <div class="scrollbar2">

        {{#each tasktypes as |tasktype|}}
        {{#paper-card as |card|}}
        {{#paper-item class="item-background"}}
        <h3>{{tasktype.id}}-{{tasktype.name}}</h3>
        <span class="flex"></span>
        {{#paper-button onClick=(action 'deletetasktype' tasktype.id)}}{{paper-icon "delete" size=24}}{{/paper-button}}
        {{/paper-item}}
        {{/paper-card}}
        {{/each}}
      </div>

      <div class="">
        {{#paper-input label="Add new tasktype" value=taskTypeName onChange=(action (mut taskTypeName))}}{{/paper-input}}
        {{#paper-button onClick=(action "addTaskType" taskTypeName)}}{{paper-icon "add" size=24}}{{/paper-button}}
      </div>
      {{/paper-list}}
      </div>
      {{/paper-card}}
  </div>
</div>
</div>
